@media (hover: none) {
  .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
    .mat-expansion-panel-header:hover {
    background: inherit;
  }
}

.flag-icon {
  width: 3rem;
}

.mat-expansion-panel-header-description {
  flex-grow: 0;
  margin-right: 0;
}

.info-value {
  font-weight: bold;
  margin-right: 1rem;
}

::ng-deep .mat-expansion-panel-header,
::ng-deep .mat-expansion-panel-content {
  font-size: 1rem !important;
}

.action-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 4.5rem;
  margin-right: 1rem;
}
