<div class="primary d-flex justify-content-center align-items-center h-100">
  <div class="card p-5 secondary-container w-80">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
      </div>
      <div class="row">
        <button type="submit" mat-flat-button class="primary">Entrar</button>
      </div>
    </form>
  </div>
</div>
