<router-outlet></router-outlet>

<div class="footer-menu">
  <div class="row">
    <div
      class="menu-item col d-flex justify-content-center"
      routerLink="credit-cards"
      routerLinkActive="active-menu"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>credit_card</mat-icon>
    </div>
    <div
      class="menu-item col d-flex justify-content-center"
      routerLink="bank-accounts"
      routerLinkActive="active-menu"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>account_balance_wallet</mat-icon>
    </div>
    <div
      class="menu-item col d-flex justify-content-center"
      routerLink="/home"
      routerLinkActive="active-menu"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>home</mat-icon>
    </div>
    <div
      class="menu-item col d-flex justify-content-center"
      routerLink="expenses"
      routerLinkActive="active-menu"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>attach_money</mat-icon>
    </div>
    <div
      class="menu-item col d-flex justify-content-center"
      routerLink="graphics"
      routerLinkActive="active-menu"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>bar_chart</mat-icon>
    </div>
  </div>
</div>
