<router-outlet></router-outlet>

<div class="footer-menu">
  <div class="row">
    <div
      class="menu-item col d-flex justify-content-center"
      routerLink="/home/credit-cards"
      [ngClass]="{ 'active-menu': currentStep === steps.CARDS }"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Credit Cards"
        fontIcon="credit_card"
      ></mat-icon>
    </div>
    <div
      class="menu-item col d-flex justify-content-center"
      routerLink="/home/bank-accounts"
      [ngClass]="{ 'active-menu': currentStep === steps.BANK_ACCOUNTS }"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Bank Accounts"
        fontIcon="account_balance_wallet"
      ></mat-icon>
    </div>
    <div
      class="menu-item col d-flex justify-content-center"
      routerLink="/home"
      [ngClass]="{ 'active-menu': currentStep === steps.HOME }"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Home"
        fontIcon="home"
      ></mat-icon>
    </div>
    <div
      class="menu-item col d-flex justify-content-center"
      routerLink="/home/expenses"
      [ngClass]="{ 'active-menu': currentStep === steps.EXPENSES }"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Evolution"
        fontIcon="attach_money"
      ></mat-icon>
    </div>
    <div
      class="menu-item col d-flex justify-content-center"
      routerLink="/home/graphics"
      [ngClass]="{ 'active-menu': currentStep === steps.GRAPHICS }"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Evolution"
        fontIcon="bar_chart"
      ></mat-icon>
    </div>
  </div>
</div>
