@import "./assets/themes/css/colors.module.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--on-primary);
}

.mat-mdc-unelevated-button.mat-mdc-button-base {
  height: 3rem;
}

.mat-mdc-form-field {
  width: 100%;
}
